#splash {
     background-color: black;
     width: 100%;
     height: 100%;
     position: relative;
     z-index: -1;
}

.canvas-wrapper {
    display: none;  
    width: 100%;
    height: 100%;
    position: relative;
}

#typing-input-field {
    background-color:  #017B00;
    position: absolute;
    right: calc(50% - 150px); 
    z-index: 5;
    bottom: 10%; 
    width: 300px;
    padding: 20px; 
    font-size: 20px; 
    border-radius: 10px; 
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Quantico', sans-serif;

    color: white; 
}

#typing-input-field::placeholder {
    color: white; 
}

#score {
    position: absolute; 
    z-index: 10; 
    top: 10%; 
    width: 200px; 
    padding: 20px; 
    font-size: 100px; 
    border-radius: 10px; 
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Quantico', sans-serif;
    color: white; 
    right: 3%; 
    /* background-color: #50BFE6;  */
}

#mathField {
    position: absolute;
    z-index: 100; 
    bottom: 50%; 
    width: 300px; 
    padding: 10px; 
    height: 75px; 
    font-size: 70px; 
    right: calc(50% - 135px); 
    color: white; 
    border: none;  
    /* background-color: gray; */
    text-align: center;

}

.loser h1{
    display: none; 
    font-size: 80px; 
    position: absolute; 
    width: 500px;
    right: calc(50% - 250px); 
    top: 38%; 
    font-family: 'Quantico', sans-serif;
    text-align: center; 
    margin-bottom: 20px; 
    color: #fff;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
    typing 1.5s steps(30, end),
    blink-caret .3s step-end 8;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 20% }
}

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
} */

.homescreen {
    background-color: black; 
    display: block; 
    width: 100%; 
    height: 1000px;
    z-index: -1; 
}

.start-button {
    right: Calc(50% - 200px); 
    width: 400px; 
    min-width: 370px;
    top: 50%; 
    font-size: 70px; 
    font-family: 'Quantico', sans-serif;
    color: white;
    position: absolute;
    border: 1px solid #017B00; 
    padding: 15px; 
    border-radius: 7px; 
    z-index: 50;
    display: block; 
    text-align: center; 
    box-shadow: 5px 5px 15px #017B00; 
}

.space-latex {
    padding: 70px 70px 0px 70px; 
    z-index: 100; 
    position: absolute;
}



/* Taken from # 2016 by Nazar The Vis Azhar
  # skilledmaster.blogspot.com */
@import "susy";
@import "compass/reset";

.stars, .twinkling, .clouds {
	position:absolute;
	display: block;
	top:0; bottom:0;
	left:0; right:0;
    width:100%; 
    height:1000px;
    z-index: 5; 
}

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
    animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}


/* CSS taken from https://codepen.io/HighFlyer/pen/BQdxgZ */

.social-links {
  position: absolute;
  top: 150px;
  z-index: 1000;
}
.social-links-ul{
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social-links-ul-li {
  display: block;
  margin: 5px;
  background: #017B00;
  width: 310px;
  text-align: right;
  padding: 10px 15px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social-links-ul-li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: #244056;
}

.social-links-ul-li {
    color: white;
}

.social-links-ul-li:hover .aa {
  color: white;
  font-family: 'Quantico', sans-serif;
  margin-right: 10px; 
  text-decoration: underline;
}
.social-links-ul-li:hover i {
  color: #fff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
}
.social-links-ul-li i {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 5px;  
  color: #000;
  color: white; 
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#your-score {
    display: none; 
    position: absolute; 
    color: white;
    font-size: 40px; 
    z-index: 30; 
    font-family: 'Quantico', sans-serif;
    top: 52%; 
    text-align: center; 
    width: 400px; 
    right: Calc(50% - 200px);
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
    typing 1.5s steps(30, end),
    blink-caret .3s step-end 8;
}

#new-game {
    display: none; 
    position: absolute; 
    color: white;
    font-size: 40px; 
    z-index: 30; 
    font-family: 'Quantico', sans-serif;
    top: 62%; 
    text-align: center; 
    width: 400px; 
    right: Calc(50% - 200px);  
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
    typing 1.5s steps(30, end),
    blink-caret .3s step-end 8;
}

#new-game:hover {
    cursor: pointer;
}