#splash {
     background-color: black;
     width: 100%;
     height: 100%;
     position: relative;
     z-index: -1;
}

.canvas-wrapper {
    display: none;  
    width: 100%;
    height: 100%;
    position: relative;
}

#typing-input-field {
    background-color:  #51ff0d;
    position: absolute;
    right: calc(50% - 135px); 
    z-index: 5;
    bottom: 10%; 
    width: 300px;
    padding: 20px; 
    font-size: 20px; 
    border-radius: 10px; 
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Quantico', sans-serif;

    color: white; 
}

#typing-input-field::placeholder {
    color: white; 
}

#score {
    position: absolute; 
    z-index: 10; 
    top: 10%; 
    width: 200px; 
    padding: 20px; 
    font-size: 100px; 
    border-radius: 10px; 
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Quantico', sans-serif;
    color: white; 
    right: 3%; 
    /* background-color: #50BFE6;  */
}

#mathField {
    position: absolute;
    z-index: 100; 
    bottom: 50%; 
    width: 300px; 
    padding: 10px; 
    height: 75px; 
    font-size: 70px; 
    right: calc(50% - 135px); 
    color: white; 
    border: none;  
    /* background-color: gray; */
    text-align: center;

}

.loser {
    display: none; 
    font-size: 50px; 
    position: absolute; 
    color: white;
    z-index: 100; 
    right: calc(50% - 110px); 
    top: 50%; 
    font-family: 'Quantico', sans-serif;

}

.homescreen {
    background-color: black; 
    display: block; 
    width: 100%; 
    height: 1000px;
    z-index: -1; 
}

.start-button {
    right: 40%; 
    top: 50%; 
    font-size: 70px; 
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  */
    font-family: 'Quantico', sans-serif;
    color: white;
    position: absolute;
    border: 1px solid #017B00; 
    padding: 15px; 
    border-radius: 7px; 
    z-index: 50;
    display: block; 
    box-shadow: 5px 5px 15px #017B00; 
}

.space-latex {
    padding-top: 20px; 
    z-index: 100; 
    position: absolute;
}



/* Taken from # 2016 by Nazar The Vis Azhar
  # skilledmaster.blogspot.com */
@import "susy";
@import "compass/reset";

.stars, .twinkling, .clouds {
	position:absolute;
	display: block;
	top:0; bottom:0;
	left:0; right:0;
    width:100%; 
    height:1000px;
    z-index: 5; 
}

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
    animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}